@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
    padding-top: 50px;
  }
   @media (max-width: 1280px) {
    .spanThing{
      width: 140px;
    }
  }
  @media (max-width: 1024px) {
    body {padding-top:78px;
    }
    .spanThing{
      width: auto;
    }
    
  }
   @media (max-width: 369px) {
    body {padding-top:90px;
    }
  }
   @media (max-width: 359px) {
    body {padding-top:120px;
    }
  }
 

   

  @media (min-width: 1025px) {
    .heroPage {
      height: 60vh; /* height for screens larger than 1024px */
    }
  }

  .blur-background {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup {
    position: fixed;
    height: 60vh;
    width: 800px;
    @apply bg-white  dark:bg-trueGray-900 lg:dark:bg-lowOpsGray lg:bg-white bg-transparent dark:bg-transparent  md:bg-transparent ; 
    /* @apply dark:bg-orange-950;
    @apply dark:bg-trueGray-900; */ 
  
    font-size: 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }


  .popup{
    display: flex;
    justify-content: center;
  }
  .popup h2 {
    @apply text-2xl font-bold p-4;
  }
  .popup form {
    @apply flex-col flex items-center mt-4;
  }


  .popup input {
    @apply w-full p-2 my-2 border border-gray-300 rounded-md;
    width: 400px;
  }
  .popup form button{
      width: 300px
  }
  .close-button {
    @apply ml-4;
  }
  .buttons-under{
    @apply flex flex-col m-6 
  }
  .buttons-under button{
    @apply hover:opacity-60 m-2
  }

  .nav__item {
    display: flex;
    align-items: center;
  }

  .nav__item > :not(:last-child) {
    margin-right: 10px;
  }

  .nav__item--right {
    margin-left: auto;
  }

  @media (max-width: 466px) {
    .popup{
      font-size: 14px
    }
    .popup{
      font-size: 18px
    }
    .popup input {
      width: auto;
    }
    .popup form button{
        width: 100px
    }
  }
  @media (max-width: 273px) {
    .popup{
      font-size: 14px
    }
    .popup{
      font-size: 18px
    }
    .popup input {
      width: 240px;
    }
    .popup form button{
        width: 100px
    }
  }

}
